<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %> 

<body>
   
    <%- include('partials/header') %>
    <main>
        <h1>HOME DEL SITIO</h1>
        <%= mensaje %> 
        <div class="bg-white mt-4">
            <img src="/images/mercadoLiebreIMG.jpeg" alt="">
        </div>

    </main>
    
  <%- include('partials/footer') %> 
</body>

</html>